@font-face {
    font-family: 'Montserrat';
    src:
            url('font.woff2') format('woff2'),
            url('font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
