<template>
  <div class="container">
    <h1>Tests</h1>
    <div v-show="uselogin">
      <login></login>    
    </div>
    <div v-show="useTests">
      <tests></tests>    
    </div>
</div>
</template>

<script>
import Login from '@/components/Login.vue'
import Tests from '@/components/ListTests.vue'

export default {  
  data() {
    return {
      uselogin: localStorage.getItem('token') === null,
      useTests: !(localStorage.getItem('token') === null)
    }
  },
  components: {
    Login, Tests
  }
}
</script>
