<template>
  <div class="container">
    <form action="" method="get" class="form--register" v-on:submit.prevent="registerUser">
          <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="login" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="email" class="form-control" v-model="email" placeholder="E-mail" aria-label="Email" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input name="first_name" type="text" v-model="first_name" class="form-control" placeholder="Имя" aria-label="Имя" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input name="last_name" type="text" v-model="last_name" class="form-control" placeholder="Фамилия" aria-label="Фамилия" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input name="password" type="password" v-model="password" class="form-control" placeholder="Пароль" aria-label="Пароль" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input name="re_password" type="password" v-model="re_password" class="form-control" placeholder="Повторите пароль" aria-label="Повторите пароль" aria-describedby="basic-addon1">
          </div>

        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        <div class="error" v-show="hasError">Error: {{ error }}</div>
    </form>
  </div>
</template>


<script>
import axios from 'axios' // @ is an alias to /src

export default {
  data() {
    return {
      login: "",
      password: "",
      re_password: "",
      first_name: "",
      last_name: "",
      email: "",
      error: "",
      hasError: false,
    }
  },
  methods: {
  registerUser: function () {
    if (this.password !== this.re_password) {
      this.error = "Пароли не совпадают"
      this.hasError = true
    } else {
      axios.post(`//${process.env.VUE_APP_API_URL}/users/register/`, {
        "login": this.login,
        "password": this.password,
        "first_name": this.first_name,
        "last_name": this.last_name,
        "email": this.email,
    })
      .then(response => {
        localStorage.token = response.data.token
        window.location.href = "/"
      })
      .catch(error => {
        this.hasError = true
        this.error = error
      })
      }
    }
    }
    
}
</script>

