<template>
  <div class="container">
    <div class="test" v-if="test">
      <h1>Тест: {{ test.title }}</h1>
      <div class="description">{{ test.description }}</div>
      <div class="num-question">Вопрос #{{ questionIndex }} из {{ test.list_questions.length }}</div>
      
      <form method="post" action="" class="questions" v-on:submit.prevent="sendAnswer">
        <div class="question" v-for="(question, index) in test.list_questions" :id="question.id" :key="question.id" v-show="questionIndex == index + 1">  
          <div class="">{{ question.text }}</div>
          <div class="answers">
            <div class="answer form-check" v-for="answer in question.answers" :id="answer.id" :key="answer.id">
              <input class="form-check-input" type="checkbox" :value="answer.id" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ answer.text }}
              </label>
            </div>
          </div>
          <button type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</template>



<script>
import axios from 'axios' // @ is an alias to /src

export default {
    test: "",
    loaded: false,

    data () {
        return {
            loaded: this.loaded,
            test: this.test,
            questionIndex: 1,
        }
    },

    methods: {
        sendAnswer: function () {
          if (this.questionIndex < this.test.list_questions.length) {
            this.questionIndex += 1
          } else {
            let data = {
              test_id: this.$route.params.id,
              questions: {},
            }
            let form = document.getElementsByTagName("form")[0]
            let questions = form.getElementsByClassName("question");
            for (let i = 0; i < questions.length; i++) {
              const question = questions[i];
              let answers = question.getElementsByTagName('input');
              let list_answers = [];

              for (let j = 0; j < answers.length; j++) {
                let answer = answers[j]
                if (answer.checked) {
                  list_answers.push(answer.value)
                }
              }

              data['questions'][question.getAttribute("id")] = list_answers
            }

            axios.post(`//${process.env.VUE_APP_API_URL}/results/`, data, {
              headers: {
                Authorization : "Token " + localStorage.token //the token is a variable which holds the token
              }
              })
              .then(response => {
                this.$router.go('/');
                window.location.href = "/"
              })
            }
        },
    },

    mounted () {
        axios.get(`//${process.env.VUE_APP_API_URL}/tests/${this.$route.params.id}/`)
        .then(response => {
            this.test = response.data
            loaded  = true
        })
        .catch(error => {
            console.warn(error)
        })
    },
    watch: {
        // whenever question changes, this function will run
        test(val) {
            this.test  = val
            this.loaded  =  true
        },
        questionIndex(val) {
            this.questionIndex = val
        }
  },         
}
</script>
>
