<template>
    <div class="header">
        <div class="welcome-message" v-show="useLogout">Привет, {{ user }}</div>
        <router-link to="/register" v-show="useRegister" class="btn btn-primary">Регистрация</router-link>
        <button type="button" v-show="useLogout" class="btn btn-danger" v-on:click.prevent="logout()">Выйти</button>
    </div>
</template>

<script>
import axios from 'axios' // @ is an alias to /src

export default {
    data() {
        let hasToken = !(localStorage.getItem('token') === null)
        return {
            useRegister: !hasToken,
            useLogout: hasToken,
            user: localStorage.getItem('user') === null ? '' : localStorage.user
        }
    },
    methods: {
        logout: function () {
          axios.get(`//${process.env.VUE_APP_API_URL}/users/logout/`)
            .then(response => {
                if (!(localStorage.getItem('user') === undefined)) {
                    localStorage.removeItem('user')
                }

                if (!(localStorage.getItem('token') === undefined)) {
                    localStorage.removeItem('token')
                }

              window.location.href  = "/"
            })
        },
    }   
}
</script>
>

<style scoped lang="scss">
    .header {
        margin-bottom: 40px;
    }
</style>