<template>
    <ul class="tests">
        <li class="test" v-for="test in tests" :key="test.id">
            <router-link :to="`/tests/${test.id}`">{{ test.title }}</router-link>
        </li>
    </ul>
    <hr />
    <ul class="results">
        Мои результаты: 
        <li v-for="result in results" :key="result.id">
            {{ result.str_result }}
        </li>
    </ul>
</template>>

<script>
import axios from 'axios' // @ is an alias to /src

export default {
    tests: [],
    results: [],
    data () {
        return {
            tests: this.tests,
            results: this.results
        }
    },

    mounted () {
        if (localStorage.token) {
            axios.get(`//${process.env.VUE_APP_API_URL}/tests/`)
            .then(response => {
                this.tests = response.data
            })
            .catch(error => {
                console.warn(error)
            })

            axios.get(`//${process.env.VUE_APP_API_URL}/results/`, {
                headers: {
                    Authorization : "Token " + localStorage.token //the token is a variable which holds the token
                }
            })
            .then(response => {
                this.results = response.data.results
            })
            .catch(error => {
                console.warn(error)
            })
        }
    },
    watch: {
        // whenever question changes, this function will run
        tests(val) {
            this.tests  = val
            this.loaded  =  true
        },
        // whenever question changes, this function will run
        results(val) {
            this.results = val
        }
  },         
}
</script>
>