<template>
    <form action="" method="get" class="form--login" v-on:submit.prevent="loginUser">
          <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="login" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <input name="password" type="password" v-model="password" class="form-control" placeholder="Пароль" aria-label="Пароль" aria-describedby="basic-addon1">
          </div>

        <button type="submit" class="btn btn-success">Войти</button>

        <div class="error-messsage" v-show="hasError">Error: {{error}}</div>
    </form>
  </template>
  
  <script>
  
    // import WorksFilters from '@/components/WorksFilters.vue' // @ is an alias to /src
    import axios from 'axios' // @ is an alias to /src
    
    export default {
      data() {
        return {
          hasError: false,
          error: "",
          login: "",
          password: "s"
        }
      },
      methods: {
        loginUser: function () {
          axios.post(`//${process.env.VUE_APP_API_URL}/users/login/`, {
            'login': this.login,
            'password': this.password,
          })
            .then(response => {
              localStorage.user = response.data.name
              localStorage.token = response.data.token
              this.$router.go(0);
            })
            .catch(error => {
              this.hasError = true
              this.error =  error.response.data.status
            })
            },
          }
    }
  </script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped lang="scss">
  
  </style>
  