<template>
  <header-app></header-app>
  <router-view/>
</template>


<script>
import HeaderApp from "@/components/HeaderApp.vue"

export default {
  components: {
    HeaderApp,
  }
}
</script>

<style lang="scss">
@import "assets/fonts/Montserrat/Bold/stylesheet.css";
@import "assets/fonts/Oswald/regular/stylesheet.css";

html, body {
  background-color: #120c05 !important;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 60px;

  h1 {
    font-family: 'Montserrat', sans-serif;
  }
}
</style>
